<div class="card-list-containar py-5">
  <% @articles.each do |article| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to article_path(article.id) do %>
      <%= attachment_image_tag article, :image, class:"card-img-top"; %>
   <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= attachment_image_tag article.user, :profile_image_id, :fill, 60, 60, fallback: "no-image-icon.jpg", class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(article_path(article.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= article.title %></span></strong>
            <% end %>
          </P>
          <p class="card-text">本文：<%= article.body.truncate(30) %></p>
          <span><i class="fas fa-user"></i> By <%= article.user.name %> ｜ </span>
          <span><i class ="favorite_btn_<%= article.id %>"><%= render "favorites/favorite-btn", article: article %></i></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <!--%= paginate post_images %>-->
</div>