<div class= "scroll-list jscroll">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% articles.each do |article| %>
      <div class="col">
        <div class="card h-100">
            <div class="bd-placeholder-img card-img-top" >
              <%= link_to article_path(article.id) do %>
               <%= attachment_image_tag article, :image, fallback:"no-image.jpg", class:"card-img-top"; %>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to(article_path(article.id), class:"text-dark") do %>
                  <strong><i class="fas fa-book"></i><span> <%= article.title %></span></strong>
                <% end %>
              </h5>
              <p class="card-text">記事：<%== article.body.truncate(70).html_safe %>.</p>
              <span><i class="fas fa-user"></i>by <%= article.user.name %></span>
              <span><i class ="favorite_btn_<%= article.id %>"><%= render "favorites/favorite-btn", article: article %></i></span>
            </div>
            <div class="card-footer">
              <small class="text-muted"><%= l article.created_at, format: :short %></small>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate articles %>
</div>