<p>検索</p>
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<ul><% @artcles.each do |artcle| %>
  <li>
    <%= link_to artcle.title, artcle %>
    <%= artcle.created_at %>
  </li>
  <% end %>
</ul>
