<!-- フォローボタン(MYPAGEのユーザーがcurrent_userでなければ表示-->
<% if user_signed_in? && @user != current_user %>
  <div id="follow_form">
    <% if current_user.followed?(@user) %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div>
<% end %>

<!-- フォローボタン -->
<%= form_for(current_user, url: user_relationships_path(@user), method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :followed_id, @user.id %>
  <%= f.submit "フォローする", class: "btn btn-outline-secondary" %>
<% end %>