<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>

      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= link_to user.name, user_path(user), class: "user_#{user.id}"  %></td>
        <td>フォロー数: <span id="following_count"><%= user.followings.count %></span></td>
        <td>フォロワー数: <span id="follower_count"><%= user.followers.count %></span></td>
        <!--span id="follower_count"は非同期通信用のid-->
        <td>
          <% if user != current_user %>
            <% if current_user.following?(user) %>
              <span id="follow_button_<%= user.id %>">
               <%= render 'relationships/unfollow-button', user: user %>
              </span>
             <% else %>
              <span id="follow_button_<%= user.id %>">
               <%= render 'relationships/follow-button', user: user %>
              </span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
