<table class='table'>
  <tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg", class:"mt-3 rounded-circle"; %></tr>
  <tr>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th><%= user.profile %></th>
  </tr>
  <tr>
    <th>follows</th>
      <th class="follower">
        <%= link_to followers_user_path(user.id) do %>
          <h5 style="color: black;"><%= user.followers.count %></h5>
        <% end %>
      </th>
  </tr>
  <tr>
    <th>followers</th>
      <th class="follow">
        <%= link_to followed_user_path(user.id) do %>
          <h5 style="color: black;"><%= user.followed.count %></h5>
        <% end %>
      </div>
  </tr>
  <tr>
    <th>
      <% if user_signed_in? && @user != current_user %>
      <div id="follow_form">
        <% if current_user.followed?(@user) %>
          <%= render "users/unfollow" %>
        <% else %>
          <%= render "users/follow" %>
        <% end %>
      </div>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>