<div class="container-fruid mx-4">

  <div class="row">
    <h2 class="col align-self-center">ようこそCoffeePageへ</h2>
    <div class="col align-self-end">
      <p>CoffeePageはコーヒーについて自由表現できる場所です</p>
      <p>ひとときの間をここでゆっくりおたのしみください</p>
    </div>
  </div>

  <h2 class="d-flex justify-content-center">新着記事</h2>
  <div class="row justify-content-center align-items-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @articles.first(6).each do |article| %>
        <div class="col">
      <div class="card h-100">
          <div class="bd-placeholder-img card-img-top" >
            <%= link_to article_path(article.id) do %>
             <%= attachment_image_tag article, :image, fallback:"no-image.jpg", class:"card-img-top"; %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to(article_path(article.id), class:"text-dark") do %>
                <strong><i class="fas fa-book"></i><span> <%= article.title %></span></strong>
              <% end %>
            </h5>
            <p class="card-text">記事：<%= article.body.truncate(100) %></p>
            <span><i class="fas fa-user"> By <%= article.user.name %></i></span>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= article.created_at %></small>
          </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>