
  <%= form_with url: search_path, method: :get, local: true do |f| %>
  <div class="d-flex">
  <div class="field ">
    <%= f.text_field :content, :placeholder => "作者か記事で検索", required: true%>
  </div>
  <div class="select">
    <%= f.select :model, options_for_select({ "作者" => "user", "記事" => "article" }) %>
  </div>
  <div class="select">
    <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
  </div>
   <%= button_tag type: "submit", class: "btn btn-default" do %>
    <i class="fas fa-search"></i>
   <% end %>
  </div>
  <% end %>
