<!DOCTYPE html>
<html>
  <head>
    <title>CoffeePage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/8cc3d59850.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <!--% if current_page?(root_path) %>-->
      <!--% end %>-->
      <!--% if user_signed_in? %>-->
         <%= render 'layouts/search' %>
      <!--% end %>-->
        
      <p id="notice"><%= notice %></p>
      <div id"wrapper">
        <% if flash[:notice] %>
          <div class="flash">
          <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
  
  
</html>
